.icon-favoritos {
    display: block;
    margin: auto;
}

.title-favoritos {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    margin-bottom: 46px;
}

#fav-sincontenido {
    display: block;
}

#text-fav-sc {
    color: #572EE5;
    font-family: $montserrat;
    font-size: 20px;
    text-align: center;
}