$color_1: #FFFFFF;
$color_2: #572EE5;
$color_3: black;
$color_4: #5ED7C6;
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: #572EE5;
$background_color_2: black;
$background_color_3: white;